.header {
    // border-radius: toRem(64);
    // background: #fff;
    // position: absolute;
    min-width: 100%;
    width: 100%;
    &__logo {
        margin-left: toRem(80);
        margin-right: toRem(80);
        margin-top: toRem(0);
        @include adaptiveValue("margin-left", 40, 0);
        @include adaptiveValue("margin-right", 40, 0);
        @media (max-width: $tablet) {
            margin: 0;
        }
        @media (max-width: $tablet) {
            margin: 0;
        }
    }
    // .header__container
    &__container {
        max-width: toRem(1160);
        width: 100%;
        position: relative;
        margin: 0 auto;
        // background: #fff;
        border-radius: toRem(64);
        @include adaptiveValue("width", 1080, 252);
        @include adaptiveValue("padding-top", 12, 8);
        @include adaptiveValue("padding-bottom", 12, 8);
        @include adaptiveValue("max-width", 1080, 252);
        @include adaptiveValue("top", 24, 12);
    }
    // .header__menu
    &__menu {
        width: 100%;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        align-items: center;
        justify-content: center;
        gap: toRem(40);
        border-radius: toRem(64);
        z-index: 6;
        @include adaptiveValue("height", 72, 40);
        @include adaptiveValue("padding-top", 12, 8);
        @include adaptiveValue("padding-bottom", 12, 8);
        @include adaptiveValue("padding-left", 34, 8);
        @include adaptiveValue("padding-right", 34, 8);
    }
    // .header__lang
    &__lang {
        display: flex;
        gap: toRem(10);
        margin-left: toRem(60);
        @media (max-width: $tablet) {
            position: absolute;
            right: toRem(88);
            z-index: 6;
        }
        a {
            font-family: "MuseoModerno";
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            @include adaptiveValue("font-size", 20, 14);
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
            &.active {
                font-weight: 600;
            }
            @media (max-width: $tablet) {
                // font-size: toRem(14);
            }
        }

        @media (max-width: $mobile) {
        }
    }
    // content
    &__content {
        display: flex;
        align-items: center;
        @media (max-width: $tablet) {
            gap: toRem(20);
        }
    }
    &__logo {
        max-width: toRem(87);
        img {
            max-width: 100%;
        }
    }
}
.menu {
    // .menu__body
    &__body {
    }
    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: toRem(50);
        @include adaptiveValue("gap", 50, 0);
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: $tablet) {
            gap: toRem(24);
        }
    }
    // .menu__item
    &__item {
        list-style: none !important;
    }
    // .menu__link
    &__link {
        font-family: "MuseoModerno";
        font-size: toRem(16);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // .menu__icon
    &__icon {
        @media (max-width: $tablet) {
            position: absolute;
            right: toRem(32);
        }
    }
}

.logo__lg {
    @media (max-width: $tablet) {
        display: none;
    }
}

.logo__md {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        max-width: toRem(136);
        position: absolute;
        left: toRem(32);
        z-index: 6;
    }
}
