//====================================================================================================
// hero
.hero {
    margin-top: toRem(-100);
    @include adaptiveValue("padding-bottom", 90, 32);
    @media (max-width: $tablet) {
        margin-top: toRem(-20);
    }
    // .hero__container
    &__container {
    }
    // .hero__img
    &__img {
        img {
            max-width: 100%;
        }
    }
    // .hero__content
    &__content {
    }
    // .hero__title
    &__title {
        font-family: "Audiowide";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: toRem(48);
        @include adaptiveValue("font-size", 64, 26);
    }
    // .hero__subtitle
    &__subtitle {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: toRem(16);
        @include adaptiveValue("font-size", 20, 16);
    }
    // .hero__desc
    &__desc {
        display: flex;
        justify-content: space-between;
        gap: toRem(32);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .hero__text
    &__text {
        margin-top: toRem(32);
        // max-width: toRem(800);
        @include adaptiveValue("max-width", 800, 300);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
    // .hero__btn
    &__btn {
        display: block;
        align-self: flex-end;
    }
}
.text {
}
.btn {
}

//====================================================================================================
// fields
.fields {
    @include adaptiveValue("padding-top", 90, 32);
    @include adaptiveValue("padding-bottom", 90, 32);
    // .fields__container
    &__container {
    }
    // .fields__title
    &__title {
    }
    // .fields__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: toRem(32);
        @include adaptiveValue("margin-top", 80, 32);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    // .fields__item
    &__item {
        position: relative;
        border-top: 1px solid #a799d2;
        @media (max-width: $tablet) {
            margin-top: 0;
            padding-left: toRem(48);
            margin-left: toRem(24);
            border-top: none;
            border-left: 1px solid #a799d2;
        }
    }
    // .fields__item-decor
    &__item-decor {
        background: #fff;
        font-size: toRem(32);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        width: toRem(48);
        height: toRem(48);
        border-radius: 100%;
        border: 1px solid #a799d2;
        display: flex;
        justify-content: center;
        align-items: center;
        top: toRem(-24);
        @media (max-width: $tablet) {
            left: toRem(-24);
            top: 0;
        }
    }
    // .fields__inner
    &__inner {
        padding: toRem(24);
        border-radius: toRem(32);
        border: 1px solid #a799d2;
        background: #fff;
        margin-top: toRem(48);
        height: 90%;
        @media (max-width: $tablet) {
            margin-top: 0;
            height: 100%;
        }
    }
    // .fields__item-title
    &__item-title {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include adaptiveValue("font-size", 20, 14);
    }
    // .fields__item-desc
    &__item-desc {
        @include adaptiveValue("margin-top", 24, 16);
    }
}
.title {
}
.text {
}

//========================================================================================================================================================
// why
.why {
    @include adaptiveValue("padding-top", 90, 32);
    @include adaptiveValue("padding-bottom", 90, 32);
    // .why__container
    &__container {
    }
    // .why__title
    &__title {
    }
    // .why__wrapper
    &__wrapper {
    }
    // .why__item
    &__item {
    }
    // .why__inner
    &__inner {
    }
    // .why__item-title
    &__item-title {
    }
    // .why__item-desc
    &__item-desc {
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: toRem(32);
        @include adaptiveValue("margin-top", 80, 32);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    // .fields__item
    &__item {
        &:nth-child(5) {
            grid-column: span 2 / span 2;
            @media (max-width: $mobile) {
                grid-column: span 1 / span 1;
            }
        }
    }
    // .fields__item-decor
    &__item-decor {
        background: #fff;
        font-size: toRem(32);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        width: toRem(48);
        height: toRem(48);
        border-radius: 100%;
        border: 1px solid #a799d2;
        display: flex;
        justify-content: center;
        align-items: center;
        top: toRem(-24);
        @media (max-width: $tablet) {
            left: toRem(-24);
            top: 0;
        }
    }
    // .fields__inner
    &__inner {
        padding: toRem(24);
        border-radius: toRem(32);
        border: 1px solid #a799d2;
        background: #fff;
        min-height: 100%;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    // .fields__item-title
    &__item-title {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include adaptiveValue("font-size", 20, 14);
    }
    // .fields__item-desc
    &__item-desc {
        @include adaptiveValue("margin-top", 24, 16);
    }
}
.why__inner.no-border {
    img {
        &:nth-child(1) {
            display: none;
            @media (max-width: $tablet) {
                display: block;
                width: 100%;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &:nth-child(2) {
            display: block;
            @media (max-width: $tablet) {
                display: none;
            }
            @media (max-width: $mobile) {
                display: block;
                width: 100%;
                max-height: toRem(160);
            }
        }
    }
}

.text {
}

//========================================================================================================================================================
// advantages
.advantages {
    @include adaptiveValue("padding-top", 90, 32);
    @include adaptiveValue("padding-bottom", 90, 32);

    // .advantages__container
    &__container {
        position: relative;
    }
    // .advantages__title
    &__title {
    }
    // .advantages__wrapper-main
    &__wrapper-main {
        // gap: toRem(32);

        @include adaptiveValue("margin-top", 80, 32);
    }
    // .advantages__slider
    &__slider {
    }
    // .advantages__wrapper
    &__wrapper {
        align-items: center;
    }
    // .advantages__slide
    &__slide {
        border-radius: toRem(32);
        padding: toRem(32) toRem(24);
        border: 1px solid #a799d2;
        height: 100%;
        img {
            width: 100%;
        }
    }
    &__btns {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.title {
}
.swiper {
}
.swiper-gap {
    gap: toRem(30);
}
.swiper-slide {
    margin: 0 !important;
}
.slide {
    // .slide__title
    &__title {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include adaptiveValue("font-size", 20, 14);
        @include adaptiveValue("margin-top", 24, 12);
    }
    // .slide__text
    &__text {
        @include adaptiveValue("margin-top", 24, 12);
    }
}
.swiper-button-prev {
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            background: #d9cff0;
        }
    }
}
.swiper-button-next {
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            background: #d9cff0;
        }
    }
}

.swiper-button-prev {
}
.swiper-button-next {
}
.advantages__btns {
    display: flex;
    gap: toRem(24);
}
.swiper-button {
    width: toRem(48);
    height: toRem(48);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid $mainColor;
}
//========================================================================================================================================================
// slients
.clients {
    @include adaptiveValue("padding-top", 90, 32);
    @include adaptiveValue("padding-bottom", 90, 32);
    // .clients__container
    &__container {
    }
    // .clients__wrapper
    &__wrapper {
        display: flex;
        // justify-content: space-around;
        gap: toRem(80);
        @include adaptiveValue("margin-top", 80, 32);
    }
    // .clients__title
    &__title {
    }
    // .clients__content
    &__content {
        max-width: toRem(662);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            border-radius: 32px;
            border: 1px solid varrgba(223, 234, 254, 1);
        }
    }
    // .clients__item-wrapper
    &__item-wrapper {
        border: 1px solid rgba(223, 234, 254, 1);
        border-radius: toRem(32);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $tablet) {
            border: 1px solid #d9cff0;
        }
        @media (max-width: $mobile) {
            border: none;
        }
    }
    // .clients__item-img
    &__item-img {
        max-width: toRem(369);
    }
    // .clients__item_content
    &__item_content {
        border-radius: toRem(32);
        padding: toRem(32);
        display: flex;

        @include adaptiveValue("gap", 32, 12);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: $mobile) {
            border: 1px solid rgba(223, 234, 254, 1);
            margin-top: toRem(20);
        }
    }
    // .clients__item-title
    &__item-title {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include adaptiveValue("font-size", 20, 14);
    }
    // .clients__item-text
    &__item-text {
        @include adaptiveValue("margin-top", 23, 8);
    }
    // .clients__img
    &__img {
        @media (max-width: $tablet) {
            display: none;
        }
    }
}
.title {
}

//========================================================================================================================================================

// contact
.contact {
    @include adaptiveValue("padding-top", 90, 32);
    @include adaptiveValue("padding-bottom", 180, 64);
    // .contact__container
    &__container {
    }
    // .contact__wrapper
    &__wrapper {
        display: flex;
        max-width: 100%;
        gap: toRem(20);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @include adaptiveValue("gap", 140, 0);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .contact__map
    &__map {
        max-width: toRem(662);
        width: 100%;
        @media (max-width: $tablet) {
            width: 100%;
        }

        iframe {
            border-radius: 32px;
            width: 100%;
            max-width: toRem(662);
            // height: 100%;

            @media (max-width: $tablet) {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    // .contact__content
    &__content {
        max-width: toRem(369);
        width: 100%;
        @media (max-width: $tablet) {
            width: 100%;
        }
    }
    // .contact__title
    &__title {
    }
    // .contact__desct
    &__desct {
        margin-top: toRem(24);
    }
    // .contact__address
    &__address {
        display: flex;
        gap: toRem(1);
        max-width: toRem(700);
    }
    &__subtitle {
        font-family: "Audiowide";
        font-size: 24px;
        margin-top: toRem(32);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__item {
        display: flex;
        // width: toRem(662);
        gap: toRem(8);
        margin-top: toRem(12);
    }
    &__btn {
        @include adaptiveValue("margin-top", 150, 32);
    }
}
.title {
}
.text {
}

//========================================================================================================================================================
// form
.contact {
    // .contact__form
    &__form {
        margin-top: toRem(48);
    }
}
.sr-only {
}
.form-btn {
}
.cta {
}
form {
    @media (max-width: $tablet) {
        text-align: center;
        align-items: center;
        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: center;
        }
    }
    input {
        padding: 8px 16px;
        border-radius: 24px;
        border: 1px solid #a799d2;
        margin-top: toRem(24);
        @media (max-width: $tablet) {
            justify-content: center;
        }
        &:first-child {
            margin-top: toRem(0);
        }
        @media (max-width: $tablet) {
            justify-content: center;
            text-align: center;
            width: toRem(320);
        }
    }
    button {
        margin-top: toRem(100);
    }
}

//========================================================================================================================================================
